{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>

    <form action="{% url 'edit' %}" method="POST" class="entry-form">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" name="title" class="form-control" value="title" required>
      </div>
      <div class="form-group">
        <textarea name="content" class="form-control" required>Content</textarea>
      </div>
      <input type="submit" value="Submit">
    </form>

{% endblock %}